body {
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
}

p {
	color: #717171;
	line-height: 1.4;
	font-size: 18px;
}

a, a:active, a:focus, a:hover {outline: none;}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: rgba(238, 238, 238, 0);
}

.navbar {margin: 0; border: 0; border-radius: 0;}

.navbar-toggle {
	padding: 0;
	border: 0;
	margin: 0;
}

.section-1 {background-color: #0093AF;}

.site-header {
	padding-top: 30px;
	padding-bottom: 30px;
}

#p-our-team .site-header,
#p-contact .site-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
#p-our-team .logo,
#p-contact .logo {
    margin-top: 6px;
    margin-bottom: 0;
}
#p-our-team .nav,
#p-contact .nav {
    margin-top: 8px;
}

.logo {
    margin-top: 7px;
    font-family: 'Nova Square', cursive;
}

.logo a {color: #fff;}

.logo a:hover {text-decoration: none;}

.ion-navicon {
	font-size: 3em;
	color: #fff;
}

.navbar-nav>li>a {
    color: #ffffff; 
    text-transform: uppercase; 
    font-size: 14px; 
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
	margin: 10px 15px;
}

.promo-text {
	font-weight: 300;
	text-align: center;
	margin: 70px 0 40px 0;
	font-size: 54px;
	letter-spacing: -1.5px;
	color: #fff;
}

.CTA {
margin-bottom: 100px;
}

.btn-CTA {
	display: inline-block;
	padding: 10px 11px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	font-size: 14px;
	width: 208px;
	transition: all 0.2s ease-in-out;
}

.btn-CTA:hover {
	text-decoration: none;
	color: #fff;
	background-color: #0B849B;
}

.section-2 {
	padding: 90px 0 100px 0;
}

.feature {
margin-bottom: 50px;
}

.feature-last {
	margin-bottom: 0;
}

.icon-holder {
	text-align: center;
	color: #fff;
	border-radius: 56px;
	height: 56px;
	width: 56px;
}

.icon-holder-1 {
	background-color: #3686be;
	margin: 10px auto 0;
}

.icon-holder-2 {
	background-color: #93cc76;
	margin: 10px auto 0;
}

.icon-holder-3 {
	background-color: #f6936f;
	margin: 10px auto 0;
}

.ion-ios7-people-outline, .ion-ios7-search, .ion-ios7-cloudy-night-outline {
	font-size: 3em;
}

.section-3 {
background-color: #0093AF;
padding: 90px 0 100px 0;
text-align: center;
}

.section-header {
font-weight: 100;
font-size: 36px;
margin-bottom: 60px;
color: #FFFFFF;
}

.owl-carousel {
cursor: -webkit-grab;
}

.testimonial-img img {
max-width: 150px;
height: 150px;
border-radius: 75px;
border: 5px solid #e6e9eb;
margin: 0 auto;
margin-bottom: 40px;
}

.slider-item blockquote {
	color: #FFFFFF;
	font-size: 25px;
	line-height: 1.4;
	margin-bottom: 40px;
	border: 0;
	padding: 0;
}

.client-name {
color: #FFFFFF;
font-weight: 700;
font-size: 23px;
margin-bottom: 5px;
}

.slider-item span {
letter-spacing: 2.5px;
text-transform: uppercase;
color: #FFFFFF;
font-size: 16px;
}

.section-4 {
	background: #eef1f2;
	padding: 60px 0;
	text-align: center;
}

.section-4 img {
height: 50px;
opacity: 0.5;
margin: 15px 15px 15px 0px;
transition: all 0.2s ease-in-out;
}

.section-4 img:hover {
	opacity: 0.7;
}

.site-footer {
	background-color: #2e3234;
	color: #fff;
	text-align: center;
	padding: 20px 15px;
}

.copyright {
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 14px;
	text-transform: uppercase;
	color: #939393;
}

.team-block, .contact-block {
    padding: 90px 0 100px 0;   text-align: center;
}

.main-page-header {
    font-weight: 100; 
    font-size: 42px; 
    margin-bottom: 5px; 
    color: #2B2B2B; 
    text-align: center;
}

.main-sub-header {
    text-align: center; 
    font-weight: 100; 
    font-size: 24px; 
    line-height: 1.5; 
    margin-bottom: 100px;
}

.team-member {
margin-bottom: 70px;
}

.avatar-wrap {
width: 188px;
height: 188px;
margin: 0 auto;
position: relative;
}

.avatar-wrap img {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 100%;
}

.team-name {
	font-size: 23px;
	margin: 15px 0 2px 0;
	font-weight: 600;
	color: #454545;
}

.team-designation {
    font-size: 16px; 
    color: #454545;
}

label {
	line-height: 150%;
	margin: 0;
	padding: 0 0 3px 0;
	border: none;
	display: block;
	white-space: normal;
	width: 100%;
	font-family: inherit;
	font-style: normal;
	color: #000;
	font-weight: normal;
	font-size: 15px;
	text-align: left;
}

label span {
	color: #EB5959;
	font-size: 17px;
	margin-left: 2px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    background: #fff; 
    padding: 13px 10px; 
    min-height: 42px; 
    border: 1px solid #b5b5b5; 
    border-radius: 3px;     
    width: 100%;
    margin: 6px 0 15px 0;
}

#contact-form .btn-submit {
	background-color: #0093AF;
	border: none;
	text-align: center;
	width: 100%;
	padding: 23px 0;
	border-radius: 3px;
	text-transform: uppercase;
	color: white;
	font-family: "helvetica neue", arial, helvetica;
	letter-spacing: 2px;
	font-size: 13px;
}